rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null;
    }

    match /transactions/{id} {
      allow read: if isOwner() && resource.data.userId == request.auth.uid;
      allow create: if isOwner() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isOwner() && resource.data.userId == request.auth.uid;
    }

    match /debts/{id} {
      allow read: if isOwner() && resource.data.userId == request.auth.uid;
      allow create: if isOwner() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isOwner() && resource.data.userId == request.auth.uid;
    }

    match /goals/{id} {
      allow read: if isOwner() && resource.data.userId == request.auth.uid;
      allow create: if isOwner() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isOwner() && resource.data.userId == request.auth.uid;
    }

    match /users/{userId}/settings/{doc} {
      allow read, write: if isOwner() && request.auth.uid == userId;
    }
  }
}
